@using Data.Entities
@using Microsoft.AspNetCore.Identity

@inject SignInManager<UserEntity> SignInManager
@inject UserManager<UserEntity> UserManager

@if (SignInManager.IsSignedIn(User))
{
        <div class="nav navbar-nav navbar-right">          
                Hello @UserManager.GetUserName(User)!
                @Html.ActionLink("Выйти", "Logout", "Identity", null, new { @class = "btn btn-link navbar-btn navbar-link" })
        </div>
}
else
{
    <ul class="nav navbar-nav navbar-right">
        <li>@Html.ActionLink("Регистрация", "Register", "Identity")</li>
        <li>@Html.ActionLink("Войти", "Login", "Identity")</li>
    </ul>
}